@model IndexViewModel

@addTagHelper *, CosmoShop

    <div class="row">
        <div class="col-2">
            @await Html.PartialAsync("FiltrationPartial")
        </div>
        <div class="col-8">
            @await Html.PartialAsync("ProductListPartial")
            <br>
            
                <page-link page-model="Model.PageViewModel" page-action="Shop"
                       page-url-name="@(Model.FilterViewModel.SelectedName)"
                       page-url-category="@(Model.FilterViewModel.CurrentCategory)"></page-link>
            
        </div>
        <div class="col-2">
            3 of 3
        </div>
    </div>

