@model IndexViewModel

@addTagHelper *, CosmoShop

<div style="width: 100%;overflow:hidden;">
    <div style="float:left; width: 15%">
        @await Html.PartialAsync("FiltrationPartial")
    </div>

    <div style="float:right; width: 85%">
        @await Html.PartialAsync("ProductListPartial")
        <br>

        <page-link page-model="Model.PageViewModel" page-action="Shop"
                   page-url-name="@(Model.FilterViewModel.SelectedName)"
                   page-url-category="@(Model.FilterViewModel.CurrentCategory)"></page-link>
    </div>
</div>


