<nav class="navbar navbar-dark bg-dark navbar-expand">
    <div class="navbar-brand" style="margin:5px">Welcome to CosmoShop</div>
    <button class="navbar-toggler">
        <span class="navbar-toggler-icon" data-toggle="collapse" data-target="#TheMenu"></span>
    </button>
    <div id="TheMenu" class="navbar-collapse collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-controller="App" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="App" asp-action="Contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="App" asp-action="About">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="App" asp-action="Shop">Shop</a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a></li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                </li>
            }
        </ul>
    </div>
</nav>
